* {
  margin: 0;
  padding: 0;
}
#heading {
  display: flex;
  justify-content: center;
}
#heading p {
  background-color: cadetblue;
  height: 5rem;
  font-size: 80px;
  text-align: center;
  width: fit-content;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#scoreboard {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
}
#score {
  display: flex;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#choices {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  gap: 0px;
}
.choice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice img {
  width: 300px;
  height: 200px;
}
#Rock {
  display: flex;
  justify-content: end;
  margin-right: -100px;
}
#Paper {
  margin-right: -100px;
}
#Scissor {
  display: flex;
  justify-content: start;
}
.choice img:hover {
  cursor: pointer;
}
#msg-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#msg {
  background-color: lightcoral;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 30px;
  color: white;
}
