* {
  margin: 0;
  padding: 0;
}
#heading{
    display: flex;
    justify-content: center;
}
#heading p {
  background-color: cadetblue;
  height: 5rem;
  font-size: 80px;
  text-align: center;
  width: fit-content;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#scoreboard{
    display: flex;
}
